
  
  <h1>View Course</h1>
    <div class="dashboard-form">
        <div class="video_frame">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/VFiHgCjbXx0" title="Nottingham Forest 0-1 Chelsea | HIGHLIGHTS | Premier League 2024/25" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
    </div>
    <div class="container">
            <h2>Course Information</h2>
            <div class="card">
                <div class="card-header">Football</div>
                <div class="card-body">
                    <form method="get">
                        <input type="text" value="Football is Everything" class="form">

                        <p name="description" id="description" class="form-control" style="min-height: auto;">
                            Leorm Finance is the vibrant initiative of a team of young professional entrepreneurs with a solid background in the financial sector. We have joined forces and expertise to create a platform that redefines the standards of fairness and efficiency in the financial world. Currently, we aim to be your trusted guide in navigating through complex financial operations. Our ambition does not stop here: we see ourselves becoming the market leader of non-banking financial institutions in Romania and a main player in the non-banking financial market within the European Union.

                            We are dedicated to providing high-quality services.
                            Provide a vital financial tool that can assist you in your business growth.
                            Our solutions are efficient, easy to understand and implement.

                        </p>
                        &nbsp;&nbsp;
                        <button class="btn btn-success">
                            <i class="bi bi-check-circle"></i>
                            Finished
                        </button>
                    </form>

                </div> 
                <hr>
                <div class="card-body">
                    hello
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>
    
