  <!--Main Content-->
    <h2>Courses</h2>
    <div class="dashboard-form">  
        <h5><strong>Create New Course</strong></h5>
        <form>
        <div class="row g-3">
            <!-- Course Name -->
            <div class="col-md-6">
            <label class="form-label">Course Name: <span class="text-danger">*</span></label>
            <input type="text" id="name" name="name" class="form-control" value="WMS System" placeholder="Enter Course Name">
            </div>

            <!-- Description -->
            <div class="col-md-6">
            <label class="form-label">Description:</label>
            <Textarea id="description" name="description" class="form-control">Warehouse Management System</Textarea>
            </div>

            <!-- Video Link -->
            <div class="col-md-6">
            <label class="form-label">Video Link:</label>
            <input type="text" id="link_video" name="link_video" value="https://www.youtube.com/embed/UM5j1UqcIIA" class="form-control" placeholder="Enter Video Link">
            </div>

            <!-- Department -->
            <div class="col-md-6">
            <label class="form-label">Department:</label>
            <input type="text" id="department" name="department" value="IT & Process" class="form-control" placeholder="Enter Department">
            </div>

            <!-- Save & Clear -->
            <div class="col-md-12 d-flex align-items-end">
            <button type="button" class="btn btn-danger me-2">Clear</button>
            <button type="button" class="btn btn-success">Save</button>
            </div>

        </div>
        </form>
    </div> 
