  <!--Main Content-->
    <h2>User</h2>
    <div class="dashboard-form">  
        <h5><strong>Create New User</strong></h5>
        <form>
        <div class="row g-3">
            <!-- Name -->
            <div class="col-md-6">
            <label class="form-label">Name: <span class="text-danger">*</span></label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name">
            </div>

            <!-- NRC -->
            <div class="col-md-6">
            <label class="form-label">NRC No :</label>
            <input type="text" id="NRC" name="NRC" class="form-control" placeholder="Enter NRC No">
            </div>

            <!-- Phone -->
            <div class="col-md-6">
            <label class="form-label">Phone No:</label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Phone No">
            </div>

            <!-- Employee No -->
            <div class="col-md-6">
            <label class="form-label">Employee No:</label>
            <input type="text" id="employee_no" name="employee_no" class="form-control" placeholder="Enter Employee No">
            </div>

            <!-- Employee No -->
            <div class="col-md-6">
            <label class="form-label">Department:</label>
            <input type="text" id="department" name="department" class="form-control" placeholder="Enter Employee No">
            </div>

            <!-- Employee No -->
            <div class="col-md-6">
            <label class="form-label">Position:</label>
            <input type="text" id="position" name="position" class="form-control" placeholder="Enter Employee No">
            </div>

            <!-- User Role -->
            <div class="col-md-6">
            <label class="form-label">User Role: <span class="text-danger">*</span></label>
            <select class="form-select">
                <option selected disabled>Select One</option>
                <option>Admin</option>
                <option>Instructor</option>
                <option>Learner</option>
            </select>
            </div>

            <!--Remark-->
            <div class="col-md-6">
            <label class="form-label">Remark:</label>
            <textarea name="remark" id="remark" class="form-control"></textarea>
            </div>

            <!-- Save & Clear -->
            <div class="col-md-12 d-flex align-items-end">
            <button type="button" class="btn btn-danger me-2">Clear</button>
            <button type="button" class="btn btn-success">Save</button>
            </div>

        </div>
        </form>
    </div> 
